/* cmsms stylesheet: Simplex Print modified: Thursday, November 6, 2025 1:22:33 PM */
body {background: #fff;color: #000;font-family: Georgia, Times New Roman, serif;font-size: 12pt}.noprint,.visuallyhidden {display: none}img {display: block;float: none}a:link:after {content: " (" attr(href) ") ";}a {text-decoration: underline}
